body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    direction: rtl; /* جعل الاتجاه من اليمين إلى اليسار */
    position: relative;
}

.container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.question {
    margin-bottom: 20px;
}

.correct {
    color: green;
    font-weight: bold;
}

.wrong {
    color: red;
    font-weight: bold;
}
.footer {
    position: absolute;
    left: 20px;
    bottom: 20px;
    font-size: 14px;
    color: #555; /* اللون الرمادي */
}